<%- include("../../partials/header.ejs") %>
<%- include("../../partials/navbar.ejs") %>

<section class="uk-container">
    <div class="uk-card uk-card-default uk-card-small uk-width-2-3@m uk-margin-auto card uk-border-rounded">
        <div class="uk-card-header">
            <h3 class="uk-card-title">Editar Categoria</h3>
        </div>
        <div class="uk-card-body">
            <form action="/admin/categorias/atualizar" method="POST"
                class="uk-form-stacked">
                <div class="uk-margin">
                    <label for="title" class="uk-form-label">
                        Título
                    </label>
                    <div class="uk-form-controls">
                        <input type="text" class="uk-input uk-border-rounded"
                            id="title"
                            name="title"
                            value="<%= category.title %>">
                    </div>
                </div>
                <div class="uk-flex uk-flex-right">
                    <button type="submit" class="uk-button uk-button-default uk-border-rounded button-green">
                        Atualizar
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>

<%- include("../../partials/footer.ejs") %>