<nav class="uk-navbar-container navbar">
    <div class="uk-container">
        <div uk-navbar>
            <div class="uk-navbar-left">
                <a href="/" class="uk-navbar-item uk-logo logo">
                    Meu Blog
                </a>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li class="<%= page === 'categories' ? 'uk-active' : '' %>">
                        <a href="/admin/categorias/">Categorias</a>
                    </li>
                    <li class="<%= page === 'articles' ? 'uk-active' : '' %>">
                        <a href="/admin/artigos/">Artigos</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>